.container{
    background-color: bisque;
    margin-top: 10px;
    background: url('../images/_bg_1.jpg');
}

.jumbotron{
    background-color: white !important;
    border: 2px dashed black;
}

.table-bordered {
    border: 3px dashed #E9967A !important;
}

.task_description{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 1px;
}